SubmissionFeedback/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "azureeventgrid_1_Connection_Name": {
      "type": "string",
      "defaultValue": "SubmissionFeedback"
    },
    "azureeventgrid_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "SubmissionFeedback"
    },
    "azureeventgrid_1_token:clientId": {
      "type": "string",
      "metadata": {
        "description": "Client (or Application) ID of the Azure Active Directory application."
      },
      "defaultValue": "46a4ad0b-bc1c-4df6-bfb4-06a9e0cec7af"
    },
    "azureeventgrid_1_token:clientSecret": {
      "type": "securestring",
      "metadata": {
        "description": "Client secret of the Azure Active Directory application."
      },
      "defaultValue": "MkcIcmE1cftluYW787T19gRLbSDUjVA6ZCUaIKcXkLM="
    },
    "azureeventgrid_1_token:TenantId": {
      "type": "string",
      "metadata": {
        "description": "The tenant ID of for the Azure Active Directory application."
      },
      "defaultValue": "2f73e501-3af3-4b71-a8ac-04ea8198a9dc"
    },
    "azureeventgrid_1_token:grantType": {
      "type": "string",
      "metadata": {
        "description": "Grant type"
      },
      "defaultValue": "client_credentials",
      "allowedValues": [
        "code",
        "client_credentials"
      ]
    },
    "azuretables_1_Connection_Name": {
      "type": "string",
      "defaultValue": "azuretables"
    },
    "azuretables_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "SubmissionFeedbackTable"
    },
    "azuretables_1_storageaccount": {
      "type": "string",
      "metadata": {
        "description": "The name of your storage account"
      },
      "defaultValue": "dmetfile001"
    },
    "azuretables_1_sharedkey": {
      "type": "securestring",
      "metadata": {
        "description": "The shared storage key of your storage account"
      }
    },
    "azureeventgridpublish_1_Connection_Name": {
      "type": "string",
      "defaultValue": "azureeventgridpublish-3"
    },
    "azureeventgridpublish_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "ElitMessageHandlerTopicDev"
    },
    "azureeventgridpublish_1_endpoint": {
      "type": "string",
      "metadata": {
        "description": "DNS endpoint for the application topic for events."
      },
      "defaultValue": "https://elitmessagehandlertopicdev.northeurope-1.eventgrid.azure.net/api/events"
    },
    "azureeventgridpublish_1_api_key": {
      "type": "securestring",
      "metadata": {
        "description": "Primary or secondary key for the application topic."
      }
    },
    "triggerTopic": {
      "type": "string",
      "defaultValue": ""
    },
    "integrationApiUrl": {
      "type": "string",
      "defaultValue": ""
    },
    "integrationsaskey": {
      "type": "string",
      "defaultValue": ""
    },
    "httpTriggerLogToAppinsights": {
      "type": "string",
      "defaultValue": ""
    },
    "LogicAppLocation": {
      "type": "string",
      "minLength": 1,
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "defaultValue": "northeurope"
    }
  },
  "variables": {},
  "resources": [
    {
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@\r\nbody('Get_entities')?['Value'][0]['Status']",
                      "Success"
                    ]
                  }
                ]
              },
              "actions": {
                "SubmissionFeedbackFailureScope": {
                  "type": "Scope",
                  "actions": {
                    "HttpTriggerLogToAppinsights__SendToIntegrationEventGrid_Failure": {
                      "type": "Function",
                      "inputs": {
                        "body": "@variables('LogMessage')",
                        "function": {
                          "id": "[parameters('httpTriggerLogToAppinsights')]"
                        }
                      },
                      "runAfter": {
                        "SendToIntegrationFailure": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Publish_Event_For_Send_To_Integration_Failure": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azureeventgridpublish_1']['connectionId']"
                          }
                        },
                        "method": "post",
                        "body": [
                          {
                            "data": {
                              "ErrorCode": "@outputs('Submission_Feedback_to_Integration_EventGrid')['statusCode']",
                              "ErrorMessage": "Technical error into the Intergration Layers",
                              "FeedbackId": "@{triggerBody()['data']['msgSubmissionFeedback'][0]['feedbackId']}",
                              "IsExceptionRaised": "N",
                              "IsSentForArchive": "N",
                              "PartitionKey": "@{triggerBody()?['data']['msgSubmissionFeedback'][0]['messageId']}",
                              "RowKey": "@{triggerBody()?['data']['msgSubmissionFeedback'][0]['messageId']}",
                              "Status": "SubmissionFeedbackSendToIntegrationFailure"
                            },
                            "eventTime": "@utcNow()",
                            "eventType": "Submission Feedback",
                            "id": "@{guid()}",
                            "subject": "Submission Feedback"
                          }
                        ],
                        "path": "/eventGrid/api/events"
                      },
                      "runAfter": {
                        "HttpTriggerLogToAppinsights__SendToIntegrationEventGrid_Failure": [
                          "Succeeded"
                        ]
                      }
                    },
                    "SendToIntegrationFailure": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "LogMessage",
                        "value": "{\n\"eventId\":\"@{triggerBody()?['id']}\",\n\"messageId\":\"@{triggerBody()?['data']['msgSubmissionFeedback'][0]['messageId']}\",\n     \"source\":\"Metrica\", \n\"interfaceName\":\"Submission Feedback\",   \n   \"context\":\"@{triggerBody()?['data']['msgSubmissionFeedback'][0]['messageId']}\", \n     \"contextType\":\"Feedback Id\",   \n   \"action\":\"Submission feedback send to Integration Topic\",    \n  \"status\":\"Failure\",\n      \"statusCode\":\"@{outputs('Submission_Feedback_to_Integration_EventGrid')['statusCode']}\",   \n\"message\":@{body('Submission_Feedback_to_Integration_EventGrid')['error']}, \n   \"messageType\":\"Exception\",\n      \"workflowID\":\"@{workflow()['run']['name']}\",     \n \"dateTime\":\"@{utcNow()}\"\n}"
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Submission_Feedback_to_Integration_EventGrid": [
                      "Failed",
                      "TimedOut"
                    ]
                  }
                },
                "SubmissionFeedbackSuccessScope": {
                  "type": "Scope",
                  "actions": {
                    "HttpTriggerLogToAppinsights__SendToIntegrationEventGrid_Success": {
                      "type": "Function",
                      "inputs": {
                        "body": "@variables('LogMessage')",
                        "function": {
                          "id": "[parameters('httpTriggerLogToAppinsights')]"
                        }
                      },
                      "runAfter": {
                        "SendToIntegrationSuccess": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Insert_or_Merge_ElitSubmissionFeedback_for_Success": {
                      "runAfter": {
                        "HttpTriggerLogToAppinsights__SendToIntegrationEventGrid_Success": [
                          "Succeeded",
                          "Failed",
                          "TimedOut"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "ErrorCode": "",
                          "ErrorMessage": "",
                          "EventTime": "@utcNow()",
                          "FeedbackId": "@triggerBody()['data']['msgSubmissionFeedback'][0]['feedbackId']",
                          "IsExceptionRaised": "N",
                          "IsSentForArchive": "N",
                          "Status": "SendToIntegrationSucceeded"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuretables_1']['connectionId']"
                          }
                        },
                        "method": "patch",
                        "path": "/Tables/@{encodeURIComponent('ElitSubmissionFeedback')}/entities(PartitionKey='@{encodeURIComponent(triggerBody()?['data']['msgSubmissionFeedback'][0]['messageId'])}',RowKey='@{encodeURIComponent(triggerBody()?['data']['msgSubmissionFeedback'][0]['messageId'])}')"
                      }
                    },
                    "SendToIntegrationSuccess": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "LogMessage",
                        "value": "{\n\"eventId\":\"@{triggerBody()?['id']}\",\n\"messageId\":\"@{triggerBody()?['data']['msgSubmissionFeedback'][0]['messageId']}\",\n     \"source\":\"Metrica\", \n\"interfaceName\":\"Submission Feedback\",   \n   \"context\":\"@{triggerBody()?['data']['msgSubmissionFeedback'][0]['messageId']}\",\n     \"contextType\":\"Feedback Id\",   \n   \"action\":\"Submission Feedback send to Integration Topic\",    \n  \"status\":\"Success\",\n      \"statusCode\":\"\",   \n   \"message\":@{null},   \n   \"messageType\":\"Success\",\n      \"workflowID\":\"@{workflow()['run']['name']}\",     \n \"dateTime\":\"@{utcNow()}\"\n}"
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Submission_Feedback_to_Integration_EventGrid": [
                      "Succeeded"
                    ]
                  }
                },
                "Submission_Feedback_to_Integration_EventGrid": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "[parameters('integrationApiUrl')]",
                    "headers": {
                      "Content-Type": "application/json",
                      "aeg-sas-key": "[parameters('integrationsaskey')]"
                    },
                    "body": [
                      {
                        "Data": "@triggerBody()?['data']",
                        "EventTime": "@{triggerBody()?['eventTime']}",
                        "EventType": "Submission Feedback",
                        "Id": "@{triggerBody()?['id']} ",
                        "Subject": "Submission Feedback"
                      }
                    ]
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Get_entities": [
                  "Succeeded"
                ]
              }
            },
            "Get_entities": {
              "runAfter": {
                "InitializeLogVariable": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuretables_1']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/Tables/@{encodeURIComponent('ElitSubmissionResult')}/entities",
                "queries": {
                  "$filter": "SubmissionId eq '@{triggerBody()['data']['msgSubmissionFeedback'][0]['submissionId']}'",
                  "$select": "Status"
                }
              }
            },
            "InitializeLogVariable": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "LogMessage",
                    "type": "String"
                  }
                ]
              },
              "runAfter": {}
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_resource_event_occurs": {
              "splitOn": "@triggerBody()",
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "properties": {
                    "destination": {
                      "endpointType": "webhook",
                      "properties": {
                        "endpointUrl": "@{listCallbackUrl()}"
                      }
                    },
                    "topic": "[parameters('triggerTopic')]"
                  }
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureeventgrid']['connectionId']"
                  }
                },
                "path": "/subscriptions/@{encodeURIComponent('2c903d74-e077-4eb2-8c79-c2f78c078c90')}/providers/@{encodeURIComponent('Microsoft.EventGrid.Topics')}/resource/eventSubscriptions",
                "queries": {
                  "x-ms-api-version": "2017-09-15-preview"
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azureeventgridpublish_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('LogicAppLocation'), '/managedApis/', 'azureeventgridpublish')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azureeventgridpublish_1_Connection_Name'))]",
                "connectionName": "[parameters('azureeventgridpublish_1_Connection_Name')]"
              },
              "azuretables_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('LogicAppLocation'), '/managedApis/', 'azuretables')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azuretables_1_Connection_Name'))]",
                "connectionName": "[parameters('azuretables_1_Connection_Name')]"
              },
              "azureeventgrid": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('LogicAppLocation'), '/managedApis/', 'azureeventgrid')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azureeventgrid_1_Connection_Name'))]",
                "connectionName": "[parameters('azureeventgrid_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "name": "SubmissionFeedback",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('LogicAppLocation')]",
      "tags": {},
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('azureeventgridpublish_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('azuretables_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('azureeventgrid_1_Connection_Name'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('azureeventgrid_1_Connection_Name')]",
      "location": "[parameters('LogicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('LogicAppLocation'), '/managedApis/', 'azureeventgrid')]"
        },
        "displayName": "[parameters('azureeventgrid_1_Connection_DisplayName')]",
        "parameterValues": {
          "token:clientId": "[parameters('azureeventgrid_1_token:clientId')]",
          "token:clientSecret": "[parameters('azureeventgrid_1_token:clientSecret')]",
          "token:TenantId": "[parameters('azureeventgrid_1_token:TenantId')]",
          "token:grantType": "[parameters('azureeventgrid_1_token:grantType')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('azureeventgridpublish_1_Connection_Name')]",
      "location": "[parameters('LogicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('LogicAppLocation'), '/managedApis/', 'azureeventgridpublish')]"
        },
        "displayName": "[parameters('azureeventgridpublish_1_Connection_DisplayName')]",
        "parameterValues": {
          "endpoint": "[parameters('azureeventgridpublish_1_endpoint')]",
          "api_key": "[parameters('azureeventgridpublish_1_api_key')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('azuretables_1_Connection_Name')]",
      "location": "[parameters('LogicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('LogicAppLocation'), '/managedApis/', 'azuretables')]"
        },
        "displayName": "[parameters('azuretables_1_Connection_DisplayName')]",
        "parameterValues": {
          "storageaccount": "[parameters('azuretables_1_storageaccount')]",
          "sharedkey": "[parameters('azuretables_1_sharedkey')]"
        }
      }
    }
  ],
  "outputs": {}
}